<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html ng-app>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <!--
        <link rel="stylesheet" type="text/css" href="css/index.css" />
        !-->
        
        <link rel="stylesheet" type="text/css" href="css/fiist.css" />
        <script type="text/javascript" charset="utf-8" src="cordova-2.4.0.js"></script>
        <script type="text/javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/urls.js"></script>
        <script type="text/javascript" src="js/registration.js"></script>
        <script>
            // add something here
            
        </script>
    <title>Main Page</title>
    </head>
    <body>
        <div id="registration">
            <div id="logo">
                Fiist
            </div>
            <div ng-controller="RegistrationCtrl">
              <form>
                <ul>
                    <li><input type="text" ng-model="email" placeHolder="Email" /></li>
                    <li><input type="password" ng-model="password" placeHolder="Password" /></li>
                </ul>
                <div class="action">
                    <p><a ng-click="logIn()" class="blue_btn">Log In</a></p>
                    <p><a class="blue_btn" href="signup.html">Sign Up</a></p>
                    <p><a class="blue_btn" href="signupBusiness.html">Add Business</a></p>
                </div>
              </form>
            </div>
        </div>
        <!--
        <script type="text/javascript" src="cordova-2.4.0.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
        <script type="text/javascript">
            app.initialize();
        </script>
        !-->
    </body>
</html>
